[submodule "template"]
	path = template
  url = https://github.com/italijancic/utn-pc-template
  branch = main
[submodule "lessons"]
	path = lessons
  url = https://github.com/italijancic/pc-2025-lessons
  branch = main
